.select-item {
  display: inline-block;
  width: 100%;
  background-color: gray;
  padding: 12px 8px;
  font-size: 16px;
  border-bottom: 1px solid black;
}

.select-wrapper {
  border: 1px solid black;
}

.select-text-wrap {
  display: flex;
  align-items: center;
  .text-select {
    flex: 1;
  }
}

.selected-value-wrap {
  padding: 12px;
  .select-label-wrap {
    display: flex;
    align-items: center;

    .text-label {
    }
    .icon-lable {
      margin-left: -4px;
      margin-right: 4px;
      scale: 0.9;
    }
  }
}

.value-wrapper {
  border: 1px solid black;
  border-radius: 4px;
}

.template-wrapper {
  margin-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 12px;
}

.subheader {
  color: var(--gray-100) !important;
  &.text-align {
    margin-left: 30px;
  }
}

.no-selected {
  color: var(--gray-100) !important;
}

.template-level-0 {
  background-color: var(--gray-5);
}
.template-level-1 {
  background-color: var(--gray-10);
}
.template-level-2 {
  background-color: var(--gray-20);
}
.template-level-3 {
  background-color: var(--gray-30);
}
